

div{
	width: 350px;
	height: 350px;
	padding: 10px;
	border: 15px solid #b5930d;
	box-shadow:  4px 3px 0px 0px black,
				 2px 0px 0px 2px black inset;
	border-radius: 50px;
	background-color: rgba(255,255,255,0.8);
	text-align: center;
}

body{

	padding: 100 40 40 478;
	background-image: url(bkg.jpg);
	background-size: 1400px 800px;
	
}